<h2> Hi <%= @volunteer.first_name %>! </h2>
<p> Thanks for signing up as a volunteer on our platform!</p>
<p>We will be sending you a confirmation email at <b><%=@volunteer.email_address %></b>. </p>
<p>Stay tuned for further details on how you can contribute to our campaign! </p>
